
<h1 class="page-header">Team Details</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                List of Teams
            </div>
            <!-- /.panel-heading -->

            <div class="panel-body">
                <div class="row">
                    <div class="form-group input-group">
                        <input type="search" class="form-control " placeholder=" ">
                        <span class="input-group-btn">
                                           <button class="btn btn-default" type="button"><i class="fa fa-search"></i> </button>
                                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th> Name</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="">
                                <td> - </td>
                                <td> - </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of Engineers by Team
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Team Name</th>
                            <th>First Name </th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of Projects by Team
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Team Name</th>
                            <th>Project Name </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> - </td>
                            <td> - </td>
                            <td> - </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- / -->
</div>
