
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Send Constraint  </h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                	<label for="enabledSelect">Please Select Constraint</label>
                                    <select id="enabledSelect" class="form-control">
                                    	<option> List of Constraints</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="Enter Number" id="minvarible">
                                </div>
                                <div class="form-group">
                                    <label>Max</label>
                                    <input class="form-control" placeholder="Enter Number" id="maxvarible">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a ui-sref="HomeEngineer.PartitionEManag" class="btn btn-lg btn-success btn-block">Send Response >> </a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
