<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form ng-submit="addoffers()">
            <div class="panel panel-primary">
                <div class="panel-heading">Add Offer</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" ng-model="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="textarea" id="description" ng-model="description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" id="company" ng-model="company" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="place">Place</label>
                        <input type="text" id="place" ng-model="place" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>