<div
        class="alertBox js-alert-box alertCloud js-alertBoxAggressiveMode alertBoxAggressiveMode qa-alertBoxBottomAggressiveMode"
        dataokay-alert-configuration='{"oneClickAlert":false,"suggestAlert":false,"suggestAlertQty":2,"suggestAlertQtyChecked":1,"section":3,"stepOrder":["suggestStep","successMessage","removeBox"],"decreasePriceAlert":false,"isDecreasePriceOptional":true,"relatedAdId":null,"isSearchWithNoResults":false}'>

    <span class="alertClose js-alertClose"><i class="ti-remove"></i></span>
    <form method="post"
          action="#"
          class="js-alert-form alertBox-form">

        <p class="alertBox-clouds-title">
            Get notified when we have new listings available for <strong>web</strong>
        </p>


        <span class="alert-close-alternative js-alert-close-alternative">x</span>

        <div class="alertBox-title"><i class="ti-mail"></i><strong>Receive the latest job offers by email</strong></div>

        <div class="alertBox-content js-alert-content">

            <div class="js-messages alertBox-messages"></div>

            <fieldset>


                <div class="alertBox-fields">

                    <div class="alertBox-input-placeholder">
                        <input type="email" name="email" class="js-alert-email alertBox-email" value="" placeholder="Email" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-small js-alert-button qa-alert-button">Receive offers</button>

                    <div class="js-email-suggest"></div>


                    <div class="alertBox-legal">

                        <input type="hidden" name="legal" id="legal_3" value="Yes" />

                        <label for="legal_3">
                            By registering you agree to Trovit's <a href="http://about.trovit.com/terms-conditions/" target="_blank">Terms and Conditions</a> and <a href="http://about.trovit.com/privacy-policy/" target="_blank">Privacy Policy</a>                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>