<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form ng-submit="register()">
            <div class="panel panel-primary">
                <div class="panel-heading">Registration</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" ng-model="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" ng-model="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="work">Work</label>
                        <input type="text" id="work" ng-model="work" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="work">Mail</label>
                        <input type="email" id="mail" ng-model="mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="place">Place</label>
                        <input type="text" id="place" ng-model="place" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="register()">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>