<form ng-submit="updateresume()">
	<div class="row">
		<div class="col-sm-6">
				<div class="panel panel-primary">
					<div class="panel-heading">Profil</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" ng-model="username" class="form-control" readonly>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" id="password" ng-model="password" class="form-control">
						</div>
						<div class="form-group">
							<label for="work">Work</label>
							<input type="text" id="work" ng-model="work" class="form-control">
						</div>
						<div class="form-group">
							<label for="place">Place</label>
							<input type="text" id="place" ng-model="place" class="form-control">
						</div>

						<div class="form-group">
							<button class="btn btn-primary">Update resume</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Education</div>
				<div class="panel-body">
					<div style="border-bottom: 1px solid #b9b9b9; margin-bottom: 20px; padding-bottom: 15px;" ng-repeat="e in ed">
						<div class="form-group">
							<label for="">Start date</label>
							<input type="text" ng-model="e.date_start" class="form-control">
						</div>
						<div class="form-group">
							<label for="username">End date</label>
							<input type="text" ng-model="e.date_end" class="form-control">
						</div>
						<div class="form-group">
							<label for="username">Place</label>
							<input type="text" ng-model="e.place" class="form-control">
						</div>
						<div class="form-group">
							<label for="username">Description</label>
							<input type="text" ng-model="e.description" class="form-control">
						</div>					
					</div>
				</div>
			</div>
			
			<div class="panel panel-primary">
				<div class="panel-heading">Experience</div>
				<div class="panel-body">
					<div style="border-bottom: 1px solid #b9b9b9; margin-bottom: 20px; padding-bottom: 15px;" ng-repeat="e in ex">
					<div class="form-group">
						<label for="username">Start date</label>
						<input type="text" ng-model="e.date_start" class="form-control">
					</div>
					<div class="form-group">
						<label for="username">End date</label>
						<input type="text" ng-model="e.date_end" class="form-control">
					</div>
					<div class="form-group">
						<label for="username">Place</label>
						<input type="text" ng-model="e.place" class="form-control">
					</div>
					<div class="form-group">
						<label for="username">Description</label>
						<input type="text" ng-model="e.description" class="form-control">
					</div>
				</div>
					</div>
			</div>
		</div>
	</div>
</form>